<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464657070252-fibsuv3tiv4hpetisdp74b4iq927ei30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464657070252-fibsuv3tiv4hpetisdp74b4iq927ei30</string>
	<key>API_KEY</key>
	<string>AIzaSyCF1SfkSjHE8089hvM14zhbKNB7flYjKZk</string>
	<key>GCM_SENDER_ID</key>
	<string>464657070252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.duzy.meory</string>
	<key>PROJECT_ID</key>
	<string>meory-20fde</string>
	<key>STORAGE_BUCKET</key>
	<string>meory-20fde.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464657070252:ios:13ca79c7e55a6b30598709</string>
</dict>
</plist>